@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
    text-align: center;
    background-color: rgb(239, 255, 166);
    font-family: 'Rubik', sans-serif;
}

h1 {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
}
a, a:link, a:visited {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}

.done a, .done {
    color: limegreen !important;
    font-weight: 5rem;
}

.not-done a, .not-done {
    color: red !important;
    font-weight: 5rem;
}
table {
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7px 10px 10px #b4b4b4;
}

@media only screen and (max-width: 1000px) {
    table{
        width: 95%;
    }
}
@media only screen and (min-width: 1001px) {
    table{
        width: 90%;
    }
}

@media only screen and (min-width: 1500px) {
    table{
        width: 80%;
    }
}

th {
    font-family: 'Rubik', sans-serif;
    padding: 1rem 0rem 1rem 0rem;
    font-size: 1.5rem;
    background-color: #ffffff;
    cursor: default;
}
tr {
    font-size: 1rem;
    transition: 500ms;
    text-align: center;
}
td {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

tr:hover {
    font-size: 1.7rem;
    font-weight: 800;
    transition: 500ms;
    background-color: #f5f5f5;
    cursor: pointer;
}
